body {
    margin: 0;
    overscroll-behavior-y: none;

    #bg {
        position: fixed;
        inset: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

#app {
    overflow: hidden;
}

html {
    font-family: Inter,
    system-ui,
    -apple-system,
    "PingFang SC",
    "Hiragino Sans",
    "Noto Sans CJK SC",
    "Microsoft YaHei",
    sans-serif;
    text-rendering: optimizeLegibility;

    [lang^="zh"] {
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC", "Source Han Sans CN", sans-serif;
        letter-spacing: 0.01em;
        line-height: 1.7;

    }

    [lang="ja"] {
        font-family: "Noto Sans CJK JP",
        "Source Han Sans JP",
        "Meiryo",
        "Hiragino Sans",
        "Yu Gothic",
        sans-serif;
        line-height: 1.7;
        letter-spacing: 0.01em;
        font-feature-settings: "palt";
        font-kerning: normal;
    }

    [lang^="en"] {
        font-family: "Inter", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
        line-height: 1.6;
        letter-spacing: 0;
        hyphens: auto;
        overflow-wrap: break-word;
    }

    [lang="th"] {
        font-family: "Inter", "Noto Sans Thai", "Kanit", "Ladda", "Tahoma", sans-serif;
        line-height: 1.75;
        letter-spacing: 0.02em;
    }

    [lang^="other"] {
        font-family: "Inter", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
        line-height: 1.6;
        letter-spacing: 0;
        hyphens: auto;
        overflow-wrap: break-word;
    }
}

html,
body {
    overflow: hidden;
}
